@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    padding: 0px;
    color: rgba(255, 255, 255, 0.746);
    font-family: "Quicksand", sans-serif;

}

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

body {
    background-color: rgb(35, 35, 35);
    display: grid;
    grid-template-columns: 1fr 6fr;
    height: 100vh;
}

button {
  user-select: none;
}

.navbar {
    grid-area: 1/1/2/2;
    background-color: rgb(26, 26, 26);
    display: grid;
    grid-template-rows: 1fr 3fr 5fr;
    font-size: 1rem;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    max-width: 100%;
    max-height: 100vh;
    user-select: none;
}

.logo {
    display: flex;
    gap: 10px;
}

.logo>h1 {
    font-size: 1.3rem;
    font-weight: lighter;
}
.logo>img {
    height: 36px;
}
.tasks {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-bottom: 2rem;

}

.projects {
    display: flex;
    flex-direction: column;
    gap: 6px;
    min-height: 100%;
}

img {
    filter: invert(0.8);
    height: 20px;
}

.projects>button, .tasks>button {
    background-color: inherit;
    outline: none;
    border: none;
    padding: 12px;
    display: flex;
    gap: 1rem;
    border-radius: 0.5rem;
}

.delete-project-btn {
  background-color: inherit;
  border: none;
  cursor: pointer;
  align-self: center;
  margin-left: auto;
}

.delete-project-btn>img {
  height: 10px;
}

.delete-project-btn>img:hover {
  filter: invert(1);
  height: 11px;
  transition: 0.1s;
}

#add-project {
  order: 99999;
}

.project-modal {
  margin: auto;
  background-color: rgb(35, 35, 35);
  border: none;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 0.5rem;
  user-select: none;
  opacity: 0;
  transition: all 0.3s allow-discrete;
}

.project-modal-container {
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 300px;
  align-items: center;
  gap: 14px;
}

.project-modal-title {
  font-size: 30px;
}

.project-modal-container>input {
  background-color: #505050;
  font-size: 20px;
  border: none;
  border-radius: 0.2rem;
  height: 40px;
  width: 100%;
  padding-left: 6px;
}

.project-modal-buttons {
  display: flex;
  gap: 140px;
}
.project-modal-buttons>button {
  height: 40px;
  width: 80px;
  background-color: inherit;
  border: 2px solid #505050;
  border-radius: 0.5rem;
}

.project-modal-buttons>button:hover {
  background-color: #505050;
  cursor: pointer;
  transition: 0.2s;
}

.projects>button>span, .tasks>button>span{
    color: white;
    font-size: 0.85rem;
}

.projects>button:hover, .tasks>button:hover {
    background-color: rgb(43, 43, 43);
    cursor: pointer;
}


.container {
  display: grid;
  grid-template-rows:1fr 3fr;
  grid-template-columns: 1fr;
  max-height: 100vh;
}

.header-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  gap: 16px;
  user-select: none;
}

.heading {
  font-weight: bolder;
  font-size: 1.9rem;
}

.pending-display, .completed-display {
  height: 90px;
  width: 150px;
  background-color: rgba(128, 128, 128, 0.139);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  padding-bottom: 4px;
}

.pending-count, .completed-count {
  font-size: 2rem;
}

.status {
  display: flex;
  gap: 14px;
}

.tasks-display {
  padding-left: 28rem;
  padding-right: 28rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 10px;
  user-select: none;
}

.task-card {
  width: 100%;
  height: 2.6rem;
  background-color: #303030;
  border: 1px solid grey;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  gap: 8px;
  user-select: none;
}

.task-card:hover, .task-card>button:hover {
  cursor: pointer;
}

.high-prio {
  border: 1px solid rgba(255, 0, 0, 0.461);
}

.med-prio {
  border: 1px solid rgba(255, 128, 0, 0.461);
}

.low-prio {
  border: 1px solid rgba(255, 255, 0, 0.461);
}

.task-card>button {
  background-color: inherit;
  border: none;
  width: 1.6rem;
}

.task-card>button>img {
  height: 100%;
}

.task-card>button>img:hover {
  height: 100%;
  filter: invert(1);
  transition: 0.3s;
}

.taskCard-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.completed-task {
  text-decoration: line-through;
}

.addTask-btn {
  position: fixed;
  color: black;
  background-color: rgba(255, 255, 255, 0.376);
  height: 50px;
  width: 120px;
  bottom: 80px;
  right: 80px;
  font-size: 1rem;
  display: flex;
  gap: 8px;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  border: none;
  z-index: 10;
}

.addTask-btn>img {
  height: 0.9rem;
}

.addTask-btn>div {
  font-weight: bold;
}

.addTask-btn:hover {
  background-color: rgba(128, 128, 128, 0.418);
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.504);
  transition-duration: 0.15s;
}

.addTask-form {
  background-color: inherit;
}

/*styling modal form*/

.modal-form {
  margin: auto;
  background-color: rgb(35, 35, 35);
  height: 500px;
  width: 350px;
  border: none;
  border-radius: 0.5rem;
  user-select: none;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  opacity: 0;
  transition: all 0.3s allow-discrete;
}

dialog[open] {
  opacity: 1;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.3s allow-discrete;
}

dialog[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

@starting-style {
  dialog[open] {
    opacity: 0;
  }
  dialog[open]::backdrop {
    opacity: 0;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal-header {
  justify-self: center;
  font-weight: bolder;
  font-size: 1.7rem;
  padding-bottom: 12px;
}

#title {
  font-size: 1rem;
  font-weight: bold;
}
#title, #description {
  width: 100%;
  background-color: inherit;
  border: none;
}

textarea {
  resize: none;
  overflow: hidden;
  height: 9rem;
  line-height: 1.2;
  font-size: 0.8rem;
}

input:focus, textarea:focus, #projectSelector:focus {
  outline: none;
}

.dueDate-container, .projectSelector-container {
  display: flex;
  justify-content: space-between;
}

#dueDate {
  background-color: inherit;
  border: none;
  user-select: none;
}

#dueDate:hover {
  cursor: pointer;
}

input[type="date"] {
  pointer-events: auto;
}

#projectSelector {
  background-color: inherit;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

#projectSelector>option {
  background-color: rgb(35, 35, 35);
}

legend, .dueDate-container>label, .projectSelector-container>label {
  font-size: 0.9rem;
  font-weight: bold;
}

input[type="radio"] {
  cursor: pointer;
}
.submit-form{
  background-color: inherit;
  padding: 6px;
  border-radius: 0.5rem;
  width: 100%;
  height: 40px;
  border: 2px solid #505050;
  font-weight: bolder;
  font-size: 0.9rem;
}

.submit-form:hover {
  cursor: pointer;
  background-color: #505050;
  transition: 0.2s;
  justify-self: end;
}

fieldset {
  border: none;
  display: flex;
  justify-content: space-around;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.editTask-button {
  width: 120px;
  height: 40px;
  background-color: inherit;
  border: 2px solid #505050;
  border-radius: 0.5rem;
  font-weight: bolder;
  font-size: 0.9rem;
  padding: 6px;
}

.editTask-button:hover{
  cursor: pointer;
  background-color: #505050;
  transition: 0.2s;
  justify-self: end;
}

.editTask-button:first-of-type:hover {
  background-color: #570000;
}

.hidden {
  display: none;
}